body {
    background-color: #f9f9f9;
    font-family: arial, helvetica, sans-serif;
    color: #2a2a2a;
    line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3D929E;
}

table {
    width: 54%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #62C4C7;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #62C4C7;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #E5F6F7;
}

tr:nth-child(even) {
    background-color: #C4E6E7;
}

/* Hover effect */
tr:hover {
    background-color: #7ED3D4;
}

img {
    max-width: 63%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #62C4C7;
}

ol {
    margin: 20px 0;
    padding-left: 20px;
}

li {
    margin: 10px 0;
}